graft src/rer
graft docs
include *.rst
global-exclude *.pyc
include *.GPL
include *.js
include *.json
include *.lock
include *.txt
exclude .babelrc
exclude .nvmrc
exclude .python-version
exclude publiccode.yml
prune src/rer/sitesearch/browser/static/dist/dev
