recursive-include docs *
recursive-include rer *
global-exclude *pyc
include *.rst
include *.yml
exclude .nvmrc
exclude Gruntfile.js
exclude package.json
exclude *.cfg
exclude requirements.txt
exclude *.lock
include *.txt
