[buildout]

extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone52.cfg

[versions]
plone.testing = 7.0.1

# Added by buildout at 2020-11-11 12:01:50.309307
createcoverage = 1.5
flake8 = 3.8.3
mccabe = 0.6.1
pathtools = 0.1.2
plone.recipe.codeanalysis = 3.0.1
prompt-toolkit = 1.0.18
pycodestyle = 2.6.0
pyflakes = 2.2.0
watchdog = 0.10.2
zipp = 1.2.0

# Required by:
# plone.recipe.codeanalysis==3.0.1
check-manifest = 0.41

# Required by:
# check-manifest==0.41
pep517 = 0.8.2

# Required by:
# prompt-toolkit==1.0.18
wcwidth = 0.1.8

# Added by buildout at 2020-11-11 17:40:04.797736
configparser = 3.8.1

# Added by buildout at 2021-04-28 11:07:42.382084

# Required by:
# rer.sitesearch==3.2.7.dev0
collective.z3cform.jsonwidget = 0.1.0

# Added by buildout at 2021-12-21 09:28:34.643893
collective.recipe.vscode = 0.1.7
zpretty = 2.1.0
