/****** ricerca *******/

dl.searchResults dl{
	margin-top:2em
}

dl.searchResults dt {
	font-size:135%;
	margin-top:1em;
}

dl.searchResults span.documentByLine {
	display:none;
}

dl.searchResults dd  {
	line-height:1.5em;
	margin-bottom:0;
	margin-left:0;
}

dl.searchResults dd.itemDescr {
	margin-bottom: 0.3em;
}


.formControls{text-align:right; padding-top:1em; font-size:2em}
.template-search  legend{ background-color:transparent; font-weight:bold; font-size:120%;}
.template-search label{font-weight:normal}
.template-search #clear-space-before-wrapper-table{height:0}
.template-search .documentContent{padding:0 !important}
.template-search form.enableAutoFocus h2, .template-search  h1{font-size:130%;}
.template-search form.enableAutoFocus{ margin-top:0;  padding:0px; float:left; width:30%;}
.template-search form.enableAutoFocus fieldset{background-color:#eee;}
.formControls .context{ background-position: 5px 5px !important; padding-left:20px; background-color:#fff !important}
form.searchPage input.searchButton{height:1.4em !important}
.documentEditable {
	margin:0 !important;
	padding:0 !important;
}


div.searchResults{
	float:right;
	width:65%;
}

.linetab:hover, .groupSelected {
	background-color:#DEE7EC;
	border-color:#8CACBB #8CACBB #DEE7EC;
	border-style:solid;
	border-width:1px;
	color:#436976;
}

.linetab {
	float: left;
	background-color:transparent;
	border-color:#8CACBB;
	border-style:solid solid none;
	border-width:1px;
	color:#436976;
	margin-right:0.5em;
	padding:0 1.25em;
	text-decoration:none;
	text-transform:none;
}

.rnum {
	background-color:#DEE7EC;
	color:#436976;
	border:1px solid #8CACBB;
	line-height:1.6em;
	margin:0;
	padding:0 3em;
	text-align:right;
}

