/****** ricerca *******/

div.searchResults dl{
	margin-top:2em
}

dl dt.searchResTitle{
	margin-top:1em;
	display:inline-block;
    font-size: 1.15em;
    font-weight: normal;
    line-height: 2em;
}

div.searchResults li {
	font-size:1em;
	position: relative;
	top: 0px;
	display:inline;
}


div.searchResults dd  {
	line-height:1.5em;
	margin-bottom:0;
	margin-left:0;
}

div.searchResults dd.itemDescr {
    color: #666666;
    font-size: 0.9em;
    margin-bottom: 1em;
    margin-left: 20px;
}


span.searchResDate{
	color:#76797C;
	font-weight:normal;
}

#search_column .formControls{text-align:right;}

#rerSearchText {
	padding: 0.5em 0;
	margin:0;
}

#rerSearchText input[type="text"]{
	width:65%;	
}

#search_column  legend{ background-color:transparent; font-weight:normal; font-size:120%; padding:0; display: block;}
#rerSearchText label{font-weight:normal; display: block; font-size: 0.9em;}
#search_column #clear-space-before-wrapper-table{height:0}

#search_column form.enableAutoFocus h2, .template-search  h1{/*font-size:130%;*/}
#search_column form.enableAutoFocus{ margin-top:0;  padding:0px; float:left; width:30%;}
#search_column form.enableAutoFocus fieldset{background-color:#eee;}
#search_column input.searchButton{height:1.4em !important}
#search_column label {
    font-weight: normal;
}
#search_column .fieldsetOrderBy label {
    margin-right: 1em;
}
div.searchResults{
	float:right;
	width:65%;
    margin-left: 20px;
}

ul.searchTabs{
	line-height: 1.6em;
    margin:0 1em;
}

#content a.linetab {
	margin-right:0.5em;
	padding:0.2em 1.25em 0.1em;
	text-decoration:none;
	text-transform:none;
	background-color: #EEE;;
    border:1px solid #515151;
    color: #515151;
}

#content li .linetab:hover, #content li .groupSelected {
	background-color:#515151;
    color: #fff ;
}
#content li .linetab:hover {
    text-decoration: underline;
}

#content li .groupSelected {
	border:none;
    border-bottom:2px solid #515151;
	padding-bottom:0.125em;
}

.rnum {
	background-color:#F0F0F0;
	color:#515151;
	border:1px solid #515151;
    border-right: medium none;
    border-style: solid none none;
    border-width: 2px medium medium;
	line-height:1.6em;
	margin:0;
	padding:0.2em 1em;
	text-align:right;
	font-size: 0.95em;
}
.rnum .resType,
.rnum .resTot {
    font-weight: bold;
}

.searchResults p.document-action-rss{ 
    float:right; 
    font-size:100%; 
    margin-top:4px;
    background: url("++resource++rer.sitesearch.images/rss-icon.png") no-repeat scroll 2px 0 #FFFFFF;
    padding-left: 22px;
}


#search_column{
    border:none;
    background-color:transparent; 
    padding:0;
}

.searchResults .documentAuthor{display:none}
.searchResTitle a {
    text-decoration: none;
    border-bottom: 1px solid #CCC;
}

.listingBar{text-align:right}

#search_column .fieldsets{
    background-color:#F0F0F0; 
    margin-bottom: 15px;
}
#search_column .fieldsets h3{ 
    background-color: #515151;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: normal;
    padding: 0.2em 0.5em;
}
#search_column .fieldsets .fieldsetsItem {
    padding: 0.2em 0.5em;
}
#search_column .fieldsets .linkRemoveFilters {
    text-align: right;
    background-color: #DDD;
    font-size: 0.9em;
	margin-top: 0.5em;
}
#search_column input.submitSearch
{
    background: url("++resource++rer.sitesearch.images/ico_search.gif") no-repeat scroll 2px center transparent;
    margin-left: 0.5em;
    padding-left: 22px;
    height: 2em;
} 

