.solrMLTPlaceHolder {
    border-left: 1.5em solid #DDD;
    margin-top: 1em;
    font-size: 90%;
    padding-left: 0.5em;

    li {
        list-style: none;
    }

    a {
        border-bottom: none;
    }
}

#search-results-wrapper {
    #search-filter {
        float: left;
        width: 35%;

        ul {
            list-style-image: none;
            list-style-type: none;

            #sorting-options {
                margin-left: 0;
            }
        }

        .field {
            margin-bottom: 1em;

            #searchResultsSort {
                &,
                #sorting-options {
                    padding: 0;
                }

                #sorting-options {
                    strong {
                        padding: 0 5px;
                    }
                }
            }
        }

        .formControl {
            display: none;
        }

        #search-field {
            padding: 0.5em 0;
            text-align: left;
            display: flex;

            input {
                height: 2.5em;
                line-height: 1.5em;
                border-radius: 5px;

                &[name="SearchableText"] {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }

                &.searchButton {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }
    }

    #search-results-bar {
        border-top: 0;

        > * {
            float: right;
            text-align: right;
            margin-right: 0.5em;
        }
    }

    #rss-subscription {
        float: right;
    }

    #search-results {
        float:right;
        width:60%;
    }

    @media (max-width: 991px) {
        display: flex;
        flex-flow: column-reverse;
    }
}


#search-statusmessages {
    width: 100%;
    word-wrap: break-word;

    dt {
        display:none;  /* TODO */
    }
}

#searchResultsSort {
    float: none;
}

#tab-options {
    margin-bottom: 15px;

    ul.nav {
        list-style-type: none;
        margin-left: 0;
        margin-bottom: 0;
        border-color: #CCC;

        li {
            margin-bottom: 0;
            padding-bottom: 0;

            a {
                border-color: #CCC;
            }

            &.active {
                a {
                    color: #000;
                    background: #EEE;
                }
            }
        }
    }

    a {
        &:link {
            border-bottom: 0;
        }
    }
}

#content {
    ul.searchResults {
        list-style-type: none;
        margin-left: 0;
        padding-left: 15px;

        /* solr support */
        .elevatedItem {
            clear: both;
            padding: 0.8em 1em;
            background-color: #E3E3E3;
        }

        .elevatedLabel {
            float: right;
            font-weight: bold;
        }

        li {
            margin: 10px 0 15px;
        }
    }
}


.searchingLoader {
    opacity: 0.5;
    filter: alpha(opacity=50); /* IE 7 and Earlier */
    /* Next 2 lines IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);

    .searchResults {
        background: url(++plone++rer.sitesearch/images/loader.gif) no-repeat scroll 50% 0 transparent;
    }
}

#content #search-results .documentLocation {
    color: #666;
    font-style: italic;
    padding-top: 10px;
}

h4.resultTitle {
    display: inline;
}
