.solrMLTPlaceHolder {
    border-left: 1.5em solid #ddd;
    margin-top: 1em;
    font-size: 90%;
    padding-left: 0.5em;

    li {
        list-style: none;
    }

    a {
        border-bottom: none;
    }
}

#search-results-wrapper {
    #search-filter {
        float: left;
        width: 35%;

        ul {
            list-style-image: none;
            list-style-type: none;

            #sorting-options {
                margin-left: 0;
            }
        }

        .field {
            margin-bottom: 1em;

            #searchResultsSort {
                &,
                #sorting-options {
                    padding: 0;
                }

                #sorting-options {
                    strong {
                        padding: 0 5px;
                    }
                }
            }
        }

        .formControls {
            display: none;
        }

        #search-field {
            padding: 0.5em 0;
            text-align: left;
            display: flex;

            input {
                height: 2.5em;
                line-height: 1.5em;
                border-radius: 5px;

                &[name='SearchableText'] {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-right: 0;
                }

                &.searchButton {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }
    }

    .search-filters {
        display: none;
    }

    #search-results-bar {
        border-top: 0;

        > * {
            float: right;
            text-align: right;
            margin-right: 0.5em;
        }
    }

    #rss-subscription {
        float: right;
    }

    #search-results {
        float: right;
        width: 60%;
    }

    button.refineSearch {
        display: none;
        border: 1px solid #ccc;
        padding: 1rem 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
        border-radius: 4px;
        background: none;
        text-shadow: none;
        color: inherit;
        box-shadow: none;
    }

    @media (max-width: 991px) {
        display: flex;
        flex-flow: column-reverse;
        padding: 0 15px;

        h2.refineSearch {
            display: none;
        }

        button.refineSearch {
            display: inline-block;

            .svg-inline--fa {
                margin-left: 1rem;
            }

            .fa-angle-up {
                display: none;
            }

            &.open {
                background: #eee;

                .fa-angle-up {
                    display: inline-block;
                }
                .fa-angle-down {
                    display: none;
                }
            }

            &:focus,
            &:hover {
                border: 1px solid #666;
                background: #e3e3e3;
            }
        }

        #search-results,
        #search-filter {
            float: none;
            width: 100%;
        }

        #search-filter {
            .search-options {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;

                .field {
                    margin-bottom: 0;
                }

                h3 {
                    margin-top: 1rem;
                }
            }
        }
    }

    @media (max-width: 480px) {
        padding: 0;

        button.refineSearch {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0;
            background: #eee;
        }

        #search-filter {
            .search-filters {
                background: #eee;
                border-radius: 0 0 4px 4px;

                #search-field,
                .search-options {
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                }

                #search-field {
                    padding-top: 2rem;
                }

                .search-options {
                    padding-bottom: 1.5rem;
                }
            }
        }
    }

    @media (min-width: 992px) {
        .refineSearch {
            .svg-inline--fa {
                display: none;
            }
        }
        .search-filters {
            display: block !important;
        }
    }
}

#search-statusmessages {
    width: 100%;
    word-wrap: break-word;

    dt {
        display: none; /* TODO */
    }
}

#searchResultsSort {
    float: none;
}

#tab-options {
    margin-bottom: 15px;

    ul.nav {
        list-style-type: none;
        margin-left: 0;
        margin-bottom: 0;
        border-color: #ccc;

        li {
            margin-bottom: 0;
            padding-bottom: 0;

            a {
                border-color: #ccc;
            }

            &.active {
                a {
                    color: #000;
                    background: #eee;
                }
            }
        }
    }

    a {
        &:link {
            border-bottom: 0;
        }
    }

    @media (max-width: 991px) {
        ul.nav {
            li {
                a {
                    padding: 4px 8px;
                }
            }
        }
    }
}

#content {
    ul.searchResults {
        list-style-type: none;
        margin-left: 0;
        padding-left: 15px;

        /* solr support */
        .elevatedItem {
            clear: both;
            padding: 0.8em 1em;
            background-color: #e3e3e3;
        }

        .elevatedLabel {
            float: right;
            font-weight: bold;
        }

        li {
            margin: 10px 0 15px;
        }
    }
}

.searchingLoader {
    opacity: 0.5;
    filter: alpha(opacity=50); /* IE 7 and Earlier */
    /* Next 2 lines IE8 */
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);

    .searchResults {
        background: url(++plone++rer.sitesearch/images/loader.gif) no-repeat scroll
        50% 0 transparent;
    }
}

#content #search-results .documentLocation {
    color: #666;
    font-style: italic;
    padding-top: 10px;
}

h4.resultTitle {
    display: inline;
}
