.result-item {
    margin-bottom: 3em;

    .item-infos {
        display: flex;
        .item-date {
            margin-right: 1.5em;
        }
    }

    .col-icon {
        text-align: center;
    }
    .item-title {
        h3 {
            margin: 1rem 0;
        }
    }

    .themes,
    .categories {
        display: flex;
        flex-wrap: wrap;
        a {
            margin: 0 0.5rem;
        }
    }
}
